{% ckan_extends %}

{#
  Renders a single resource with icons and view links.

  res - A resource dict to render
  pkg - A package dict that the resource belongs to
#}


  {% block resource_item_title %}
    {% if h.is_resource_available(res) %}
      <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
        {{ h.resource_display_name(res) | truncate(50) }}
        <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">
          {{ h.get_translated(res, 'format') }}
        </span>
        {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }}
      </a>
    {% else %}
      {{ h.resource_display_name(res) | truncate(50) }}
      <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">
        {{ h.get_translated(res, 'format') }}
      </span>
    {% endif %}
  {% endblock %}

{% block resource_item_explore %}
  {% if not h.is_resource_available(res) %}
    <div class=" btn-group">
      {{ _('Available since') }} {{ res['available_since'] }}
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
